.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.6vh solid grey;
  height: 4.4vh;
  padding: 0px 1vw;
  font-size: 14px;
  font-weight: bold;
}

.header-left {
  flex: 1;
}

.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  flex: 1;
  text-align: right;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
}

.header-item {
  margin: 0 10px;
}

.value {
  font-weight: bold;
}

.negative {
  color: red; /* Adjust the color for negative values */
}
