.app-container {
  background-color: #131a33;
  color: white;
  width: 100vw;
}

/* Styles for the main container */
.container {
  display: flex;
  font-size: 12px;
  width: 100vw !important;
  height: 94.5vh;
  border-bottom: 0.6vh solid grey;
}

/* Styles for the sidebar */
.sidebar {
  width: 400px;
  background-color: #f8f8f8;
  padding: 15px;
}

/* Styles for the content area */
.content {
  flex-grow: 1;
  border-right: 0.6vh solid grey;
}

.chart-analysis-container {
  display: flex;
  border-bottom: 0.6vh grey solid;
}

.chart-analysis-container > .chart {
  flex: 0 0 65%;  /* Chart takes 70% of the width */
  margin: 0px;
}

.chart-analysis-container > .analysis {
  width: 100%;
  height: 100%;

  border-left: 0.6vh grey solid;
}

/* Styles for the TradingView widget */
.tradingview-widget {
  width: 100%;
  height: 450px;
  border-right: 0.6vh grey solid;
}

/* Styles for the table */
.table-container {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table td {
  background-color: #fff;
}
