.app-container {
  background-color: #131a33;
  color: white;
}

/* Styles for the main container */
.container {
  display: flex;
  height: 100%;
  font-size: 12px;
}

/* Styles for the sidebar */
.sidebar {
  width: 400px;
  background-color: #f8f8f8;
  padding: 15px;
  height: 100vh;
}

/* Styles for the content area */
.content {
  flex-grow: 1;
  padding: 0px 20px;
}

.chart-analysis-container {
  display: flex;
  gap: 20px;  /* Adds space between Chart and Analysis */
}

.chart-analysis-container > .chart {
  flex: 0 0 65%;  /* Chart takes 70% of the width */
}

.chart-analysis-container > .analysis {
  flex: 0 0 34%;  /* Analysis takes 30% of the width */
}

/* Styles for the TradingView widget */
.tradingview-widget {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}

/* Styles for the table */
.table-container {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table td {
  background-color: #fff;
}
